﻿@model FoodTickets.Models.Meal
@using (Html.BeginForm())
{
    <div class="container">
        @Html.HiddenFor(x => x.MealID, new { @class = "form-control" })
        <div class="form-group">
            <label>PersonID:</label>
            @Html.TextBoxFor(x => x.PersonID, new { @class="form-control" })
        </div>
        <div class="form-group">
            <label>MealType:</label>
            @Html.TextBoxFor(x => x.MealType, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Date:</label>
            @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Taken:</label>
            @Html.TextBoxFor(x => x.Taken, new { @class = "form-control" })
        </div>
        <div class="button">
            <button>Submit</button>
        </div>
    </div>
}
