﻿@model FoodTickets.Models.Meal
@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-group">
            <label>PersonID:</label>
            <input class="form-control" name="PersonID" placeholder="Enter Person ID" />
        </div>
        <div class="form-group">
            <label>MealType:</label>
            <input class="form-control" name="MealType" placeholder="Enter MealType" />
        </div>
        <div class="form-group">
            <label>Date:</label>
            <input class="form-control" name="Date" placeholder="Enter Date" />
        </div>
        <div class="button">
            <button>Submit</button>
        </div>
    </div>
}
