﻿@model List<FoodTickets.Models.Meal>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>PersonID</th>
                    <th>MealType</th>
                    <th>Date</th>
                    <th>Taken</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0; i<Model.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].PersonID</td>
                        <td>@Model[i].MealType</td>
                        <td>@Model[i].Date</td>
                        <td>@Model[i].Taken</td>
                        <td>
                            <a href="@Url.Action("Delete", new { id = Model[i].MealID })"><i class="glyphicon glyphicon-trash"></i></a>
                            <a href="@Url.Action("Edit", new { id = Model[i].MealID })"><i class="glyphicon glyphicon-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>